/* colors and fonts */
body {
  background: #0A0528;
  color: #575F7D;
  font-family: "arial"; serif;
  font-size: 17px
  font-weight: bolder;
}
h2, h3 {
   font-family: "Lora"; serif;
}
h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 900;
  font-family: "Brush Script MT", cursive;
  letter-spacing: 10px;
}
h2 {
  color: #ca0c0c;
  font-size: 25px;
  font-weight: lighter;
  font-weight: 900;
}
a {
	font-family: "Roboto" , sans-serif
   text-decoration: none;
   color: #6B72E1;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
}

.Wagon{
	color: black;
	background-color: #7b98c9;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
}

.Wagon:hover{
	background-color:#6000a1 ;
	transition: 0.25s;
}



/* custom design with class */
.container  {
  width: 700px;
  margin: 40px auto;
}
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 8px;
	margin: 20px 0px ;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i:hover {
	
}


#introduction p {
	margin-bottom: 40px;
}

ul li a{
	font-size: 70px;
	margin: auto;
}

ul li a:hover{
	color: white;
}

ul{
	text-align: center;
}

#follow{
	background-color: #0d0021;
	margin: auto;
	width: margin;
}

#follow:hover{
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 8px;
	text-align: center;
	width: 630px;
	transition: 4s;

}


